# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
google_vision.json
SpotPark Source Code.rar
.idea/
venv/
__pycache__/
enter_car.jpg
